<!DOCTYPE html>
<html> 
	<head> 
	<title>About - BikePool</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="../public/stylesheets/jquery.mobile-1.1.0.css" />
	<link rel="stylesheet" href="../public/stylesheets/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans' rel='stylesheet' type='text/css'>
	<script src="../public/javascripts/jquery-1.7.2.min.js"></script>
	<script src="../public/javascripts/modernizr.js"></script>
	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
	<script src="../public/javascripts/jquery.mobile-1.1.0.js"></script>
</head> 	
<body id="about"> 

<div data-role="routes">

	<div data-role="header">
		<a href="routes.html" data-icon="Back">Back</a>
		<h1>About BikePool</h1>
	</div><!-- /header -->

	<div data-role="content">
<p>What is BikePool?</p>
<p>Think of carpooling but for bikes. Find people who commute on the same path as you and start riding with them. This makes biking in the city safer and will encourage more people to consider their bike as their primary mode of transportation.</p>
<p>BikePool was made for the #ReinventGreen hackathon organized by #nycgov on Jun 30 - Jul 1 2012.</p>

<p><a href="https://www.hackerleague.org/hackathons/reinvent-green/hacks/bike-pooling" target="_blank">More info &raquo;</a></p>
	</div><!-- /content -->
	

</div><!-- /page -->

</body>
</html>
