#div(data-role='routes')
  #header(data-role='header')
    h1 About BikePool

  #content(data-role='content')
    p What is Bike Pool?
    p Think of carpooling but for bikes. Find people who commute on the same path as you and start riding with them. This makes biking in the city safer and will encourage more people to consider their bike as their primary mode of transportation.
    p BikePool was made for the #ReinventGreen hackathon organized by #nycgov on Jun 30 - Jul 1 2012.
    p
      a(href='https://www.hackerleague.org/hackathons/reinvent-green/hacks/bike-pooling', target='_blank') More info &raquo;