#home(data-role='home')
	#header(data-role='header')
		h1 
			span(class='bike') Bike
			span(class='pool') Pool

	#content(data-role='content')
		.fb-connect
			a(href='routes', data-role='button', data-theme='b') Facebook Connect
		.subtitle Travel in Packs.