div(data-role='routes')
	div(data-role='header')
		h1 Join a Route
	
	div(data-role='content')
		#map_content(width='100%')
		h2 #{name}
			span(class='tiny') Check-In
		.tiny #{members} .
			span(class='soft') &#124;
			Mon, Tue, Wed, Thu, Fri

	#map_content(width='100%')
	ul(data-role="listview", style="padding-top: 30px;")

		-for (var id in times)	
			var time = times[id]
			li(data-corners="false", data-shadow="false", data-iconshadow="true", data-wrapperels="div", data-icon="arrow-r", data-iconpos="right", data-theme="d")
				a(href='route-detail.html') 
				.thumbs

					img(src='', width='45px', height='45px')


		<ul data-role="listview" style="padding-top: 30px;">
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="route-detail.html">6:00 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/275219_592159006_5641090_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274975_709096636_1773343650_q.jpg" width="45px" height="45px" />
				</div>
			</li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="#">6:30 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157406_584915952_572452274_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
				</div>
			</li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="#">7:00 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371359_1391557219_1395016500_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274975_709096636_1773343650_q.jpg" width="45px" height="45px" />
				</div>
			</li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="#">7:30 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371359_1391557219_1395016500_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274975_709096636_1773343650_q.jpg" width="45px" height="45px" />
				</div>
			</li>
			<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="#">8:00 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371359_1391557219_1395016500_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274975_709096636_1773343650_q.jpg" width="45px" height="45px" />
				</div>
			</li>
						<li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d" >
				<a href="#">8:30 AM</a>
				<div class="thumbs">
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371359_1391557219_1395016500_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg" width="45px" height="45px" />
					<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274975_709096636_1773343650_q.jpg" width="45px" height="45px" />
				</div>
			</li>
		</ul>

		<!-- comment this below because this button has to be on the next screen -->
		<!--<a href="#" data-role="button">Join this Route</a>--> 
	</div><!-- /content -->
	
	
		<div data-role="footer">
		<a href="about.html">About BikePool</a>
	</div>

<!--	<script>
		var map;
		var directionsService = new google.maps.DirectionsService();

		function initialize() {
		  directionsDisplay = new google.maps.DirectionsRenderer();
		  brooklyn = new google.maps.LatLng(40.6940, -73.9863
);

		  var myOptions = {
		    zoom:7,
		    mapTypeId: google.maps.MapTypeId.ROADMAP,
		    center: brooklyn
		  }
		  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		  directionsDisplay.setMap(map);
		}

	    function show_map(startAdd, endAdd) {
	    
	        {
			  origin: startAdd,
			  destination: endAdd,
			  travelMode: TravelMode.BICYCLING,
			  unitSystem: UnitSystem.IMPERIAL
			}

	        map = new google.maps.Map(document.getElementById("map_content"), myOptions);
	        document.getElementById('map_content').style.height = '250px';
	    }

	    function handle_error(err) {
	        if (err.code == 1) {
	        }
	    }

	    $('#routeLocation').on('pagebeforeshow',function(e,data){
		     var startAddress = $('#startAddress',data.prevPage).text();
		     var endAddress = $('#endAddress',data.prevPage).text();
		     $('#brewerlocation').val(brewerlocation);
		     $('#beerstyle').val(beerstyle);
		 });

	</script>-->

</div><!-- /page -->

</body>
</html>
