<!DOCTYPE html>
<html> 
<head> 
	<title>Routes - Bike Pool</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="css/jquery.mobile-1.1.0.css" />
		<link rel="stylesheet" href="css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans' rel='stylesheet' type='text/css'>
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
	<script src="js/jquery.mobile-1.1.0.js"></script>
</head> 	
<body> 

<div data-role="routes">

	<div data-role="header">
		<h1>Routes</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<div id="map_content" width="100%"></div>
		<h1>Brooklyn to Manhattan</h1>
		<p>Nam tempus lectus eu odio suscipit rutrum consectetur dui bibendum. Fusce blandit neque non massa pharetra euismod. Nunc et sem odio. Maecenas tempus neque at justo elementum ullamcorper. Aliquam erat volutpat. Nam ipsum mi, feugiat vitae ultricies nec, tincidunt vel ante. Etiam augue ligula, bibendum ac condimentum ut, varius quis arcu. Nunc interdum ligula id nisl faucibus sed sollicitudin nunc auctor. Mauris ac tincidunt elit. Mauris ut nibh quam. Nullam luctus tristique metus, ultricies elementum quam tristique quis. Sed ac lorem dui, vitae venenatis leo. Aliquam urna arcu, commodo sed consequat eget, rutrum sit amet velit. Vestibulum eu quam sed lacus egestas faucibus. Fusce vel libero sit amet massa molestie luctus.</p>

		<a href="#" data-role="button">Join Ride</a>
	</div><!-- /content -->

	<script>
		var map;
		var directionsService = new google.maps.DirectionsService();

		function initialize() {
		  directionsDisplay = new google.maps.DirectionsRenderer();
		  brooklyn = new google.maps.LatLng(40.6940, -73.9863
);

		  var myOptions = {
		    zoom:7,
		    mapTypeId: google.maps.MapTypeId.ROADMAP,
		    center: brooklyn
		  }
		  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		  directionsDisplay.setMap(map);
		}

	    function show_map(startAdd, endAdd) {
	    
	        {
			  origin: startAdd,
			  destination: endAdd,
			  travelMode: TravelMode.BICYCLING,
			  unitSystem: UnitSystem.IMPERIAL
			}

	        map = new google.maps.Map(document.getElementById("map_content"), myOptions);
	        document.getElementById('map_content').style.height = '250px';
	    }

	    function handle_error(err) {
	        if (err.code == 1) {
	        }
	    }

	    $('#routeLocation').on('pagebeforeshow',function(e,data){
		     var startAddress = $('#startAddress',data.prevPage).text();
		     var endAddress = $('#endAddress',data.prevPage).text();
		     $('#brewerlocation').val(brewerlocation);
		     $('#beerstyle').val(beerstyle);
		 });

	</script>

</div><!-- /page -->

</body>
</html>
