div(data-role='routes')
  div(data-role='header')
    h1 Join this Route

  div(data-role='content')
    h2 Grand Army Plaza
      span(class='tiny')   Check-In
    div(class='route-left')
      h3 8:00 AM Departure
      div(class='tiny') 3 Members
      div(class='tiny') Mon, Tue, Wed, Thu, Fri
    div(class='route-right')
      div(class='join-button')
        a(href='#', data-role='button', data-mini='false') Join!
    div(class='people')
      div(class='profile')
        img(src='http://profile.ak.fbcdn.net/hprofile-ak-snc4/275219_592159006_5641090_q.jpgs', height='65px', width='65px')
        div(class='rightpeople')
          span(class='name') Valentina P.
          span(class='friend') Friend of Kate E.
      div(class='profile')
        img(src='http://profile.ak.fbcdn.net/hprofile-ak-snc4/41563_403838_1775353908_q.jpg', height='65px', width='65px')
        div(class='rightpeople')
          span(class='name') Anastasia U.
      div(class='profile')
        img(src='http://profile.ak.fbcdn.net/hprofile-ak-snc4/173850_6556_7933613_q.jpg', height='65px', width='65px')
        div(class='rightpeople')
          span(class='name') Brenna F.

  div(data-role='footer')
    a(href='about') About BikePool