.ui-body-c, .ui-overlay-c{
  background:#F6F6F6;
  font-family: 'Bree Serif', serif;
  /*font-family: 'Open Sans', sans-serif;*/
  	text-shadow: 0 1px 1px #ffffff;
}


.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button, .ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button{
    font-family: 'Bree Serif', serif;
    color:#666666;
}

.ui-bar-a{
  text-shadow: none;
}

h2{
  margin:0;
}

h2 .tiny, .tiny {
  font-size:13px;
  }

h3{
  margin:10px 0 0 0;
}

.people{
  margin:20px 0 0 0;
}

.profile{
  height:80px;
}

.tiny{
  margin-bottom:5px;
}
  
.soft {
  color:#cccccc;
}


.ui-header{
  background-image: -webkit-gradient(linear, left top, left bottom, from( #94e0fa), to( #40bfea)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #94e0fa, #40bfea); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient( #94e0fa, #40bfea); /* FF3.6 */
  background-image: -ms-linear-gradient( #94e0fa, #40bfea); /* IE10 */
  background-image: -o-linear-gradient( #94e0fa, #40bfea); /* Opera 11.10+ */
  background-image: linear-gradient( #94e0fa, #40bfea);
  border: 1px solid #F6F6F6;
}

.ui-content, .ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c{
  font-family: 'Open Sans', sans-serif;
}

.ui-title{
  color:white;
  font-weight:normal;
}

.ui-footer{
  background:#ffffff;
  border:none;
  padding-top:20px;
  text-align:center;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a{
  background:none;
  border:none;
  background-image:none;
  text-shadow:0 1px 1px #ffffff;
  color:#999999;
  font-family: 'Bree Serif', serif;
  font-weight:normal;
}

.ui-btn-left{
  background:#fff;
}

#about .ui-icon, .ui-icon-searchfield:after{
  background:url("../images/icons-18-white.png") no-repeat scroll -144px 0 rgba(0, 0, 0, 0.4);
}

.thumbs{
  padding:0;
  margin:0 0 0 15px;
  height:60px;
}

.thumbs img{
  border:1px solid #dddddd;
  
}

/* home screen */

#home .ui-body-c, .ui-overlay-c{
  background-image: -webkit-gradient(linear, left top, left bottom, from( #CFF4FC), to( #497bae)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #CFF4FC, #9DE2F2); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient( #CFF4FC, #9DE2F2); /* FF3.6 */
  background-image: -ms-linear-gradient( #CFF4FC, #9DE2F2); /* IE10 */
  background-image: -o-linear-gradient( #CFF4FC, #9DE2F2); /* Opera 11.10+ */
  background-image: linear-gradient( #CFF4FC, #9DE2F2);
}



#home .ui-header{
  background:none;
  border:none;
}

#home .ui-title{
  font-size:50px;
  font-weight:normal;
  text-shadow: 0 1px 1px #ffffff;

}

#home .ui-header .bike{
  color:#51C1D5;
}

#home .ui-header .pool{
  color:#7ABFCF;
}

.subtitle{
  color:#51C1D5;
  text-align:center;
}

.bikes{
		text-align:center;
		margin-top:40px;
}

.fb-connect .ui-btn-inner {
  color:#ffffff;
  font-weight:normal;
  font-size:19px;
}


.fb-connect .ui-btn-up-d, .fb-connect .ui-btn-hover-d, .fb-connect .ui-btn-down-d, .fb-connect .ui-btn-up-c, .fb-connect .ui-btn-hover-c, .fb-connect .ui-btn-down-c{
  background-image: -webkit-gradient(linear, left top, left bottom, from( #94e0fa), to( #40bfea)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #94e0fa, #40bfea); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient( #94e0fa, #40bfea); /* FF3.6 */
  background-image: -ms-linear-gradient( #94e0fa, #40bfea); /* IE10 */
  background-image: -o-linear-gradient( #94e0fa, #40bfea); /* Opera 11.10+ */
  background-image: linear-gradient( #94e0fa, #40bfea);
}
